body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* common */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-list,
.address {
  display: none;
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  padding: 16px 0;
}
.span {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
  }
  .aktive-link {
    position: relative;
    color: #404bbf;
  }

  .aktive-link::after {
    content: "";
    display: inline-block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address {
    font-style: normal;
    display: block;
    margin-left: auto;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .nav-logo {
    margin-right: 76px;
  }
  .address-list {
    align-items: center;
    flex-direction: row;
    padding: 24px 0;
    gap: 40px;
  }
  .address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/* mobile-menu */

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  outline: none;
  margin-bottom: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.nav-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nav-link-mobile {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link-mobile:hover,
.nav-link-mobile:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-mobile-active {
  color: #404bbf;
}
.address-mobile {
  margin-bottom: 48px;
  font-style: normal;
}
.address-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.address-link-mobile {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link-mobile:hover,
.address-link-mobile:focus {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link-active {
  color: #4d5ae5;
}
.list-mobile-social {
  gap: 40px;
  text-decoration: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.mobile-social-item:hover {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.mobile-social {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

/* section-effective-solutions */

.section-effective-solutions {
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;
}
@media (min-resolution: 2x) {
  .section-effective-solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-effective-solutions {
    padding: 112px 0;
    min-width: 768px;
  }
  @media (min-resolution: 2x) {
    .section-effective-solutions {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office2x.jpg);
    }
  }
}
@media screen and (min-width: 1158px) {
  .section-effective-solutions {
    padding: 188px 0;
    min-width: 1440px;
  }
  @media (min-resolution: 2x) {
    .section-effective-solutions {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office2x.jpg);
    }
  }
}
.effective-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  text-align: center;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 72px;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .main-title {
    margin-bottom: 48px;
  }
}
.main-button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  border-radius: 4px;

  width: 169px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* main 2 */
.main-container {
  display: flex;
}
.section-main {
  padding: 96px 0;
}
@media screen and (min-width: 768px) {
  .section-main {
    padding: 96px 0;
  }
}
@media screen and (min-width: 1158px) {
  .section-main {
    padding: 120px 0;
  }
}
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
.main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .main-list {
    row-gap: 72px;
    column-gap: 24px;
  }
}
.main-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .main-item {
    width: 264px;
    width: calc((100% - 72px) / 4);
  }
}
.main-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  margin-bottom: 0px;
}

@media screen and (min-width: 1158px) {
  .main-list-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
  }
}
.main-icon {
  display: none;
}
@media screen and (min-width: 1158px) {
  .main-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
  }
}
.title-contant {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .title-contant {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .title-contant {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 0;
  }
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 1158px) {
  .text {
    font-weight: 400;
  }
}
/* Our Team */
.section-team {
  background-color: #f4f4fd;
  padding: 96px 28px;
}
@media screen and (min-width: 768px) {
  .section-team {
    padding: 96px 108px;
  }
}
@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }
}
.container-team {
  flex-direction: column;
}

.list-team {
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .list-team {
    row-gap: 64px;
    column-gap: 24px;
  }
}

.img-team {
  display: block;
}
.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  min-width: 264px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.text-wrapper {
  padding: 32px 0;
}
.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  padding-bottom: 8px;
}
.list-team-social {
  gap: 24px;
  text-decoration: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.team-social-item:hover {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}
.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
/* Our Portfolio */
.section-portfolio {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }
}

.text-block {
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
  margin-bottom: 72px;
}

.container-img {
  position: relative;
  overflow: hidden;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}
.img-portfolio {
  display: block;
  width: 100%;
  height: auto;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 48px;
}
@media screen and (min-width: 768px) {
  .list-portfolio {
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .list-portfolio {
    row-gap: 48px;
  }
}
.item-portfolio {
  max-width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .item-portfolio {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .item-portfolio {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
}
.item-portfolio:hover {
  transform: rotateY(0%);

  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1158px) {
  .item-portfolio:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
.item-portfolio:hover .overlay-text {
  transform: translateY(0%);
}
.overlay-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  text-align: center;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: (100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.title-por {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.text-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Footer */
footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .container-footer-subscribe {
    margin-left: auto;
    padding: 100px 0;
  }
}
.container-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .container-footer {
    padding-left: 108px;
    padding-right: 108px;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .container-footer {
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    gap: 0;
  }
}
.logo-container-footer {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .logo-container-footer {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .logo-container-footer {
    margin-right: 120px;
  }
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.span-footer {
  color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  text-align: start;
}

.list-social {
  display: flex;
  gap: 16px;
}
.text-footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .text-footer-social {
    text-align: start;
  }
}

.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-link:first-child {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: #f4f4fd;
  width: 24px;
  height: 24px;
}

.form-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
}

@media screen and (min-width: 1158px) {
  .form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
.footer-form-label {
  gap: 16px;
}
.container-footer-email {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1158px) {
  .container-footer-email {
    align-items: baseline;
  }
}
.text-footer-email {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .text-footer-email {
    text-align: start;
  }
}
.footer-form-input-email {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .footer-form-input-email {
    margin-right: 24px;
    width: 264px;
  }
}
.footer-form-input-email:hover,
.footer-form-input-email:focus {
  border-radius: #404bbf;
}
.footer-form-input-email::placeholder {
  color: #ffffff;
}
.footer-form-email-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border: none;
  outline: none;
  background-color: #4d5ae5;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
}
.icon-button-form {
  fill: #ffffff;
  margin-left: 16px;
}
/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    min-width: 408px;
    min-height: 584px;
  }
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%) scale(1.5);
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  outline: none;
  margin-bottom: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
}
.icon-close {
  fill: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover :first-child,
.modal-button:focus :first-child {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-modal {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}
.container-label {
  margin-bottom: 8px;
}
.label-modal {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.icon-close {
  fill: #2e2f42;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-comment {
  margin-bottom: 16px;
}
.container-icon {
  position: relative;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.icon-form-modal {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .icon-form-modal {
  fill: #4d5ae5;
}
.container-comment {
  margin-bottom: 16px;
}
.textarea-modal {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal:focus {
  border-color: #4d5ae5;
}
.textarea-modal ::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.container-checkbox {
  margin-bottom: 24px;
}
.label-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
.custom-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: #ffffff;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  flex-shrink: 0;
}
.custom-checkbox:checked {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.visually-hidden:checked + .label-checkbox .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  line-height: 1.3;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.button-send {
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
